@model IEnumerable<StudentRegistration.App.DTOs.StudentDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Students</h2>

<input type="button" value="Create New" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Student")'" />

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("S/N", "Index", new { SortOrder = ViewBag.SortById })
        </th>
        <th>
            @Html.ActionLink("NRIC", "Index", new { SortOrder = ViewBag.SortByNRIC })
        </th>
        <th>
            @Html.ActionLink("Name", "Index", new { SortOrder = ViewBag.SortByName })
        </th>
        <th>
            @Html.ActionLink("Gender", "Index", new { SortOrder = ViewBag.SortByGender })
        </th>
        <th>
            @Html.ActionLink("Age", "Index", new { SortOrder = ViewBag.SortByAge })
        </th>
        <th>
            @Html.ActionLink("Age", "Index", new { SortOrder = ViewBag.SortBySubjects })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.ActionLink(item.NRIC, "Edit", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSubjects)
            </td>
            <td>
                <input type="button" value="Delete" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Student", new { id = item.Id })'" />
            </td>
        </tr>
    }
</table>
