@using StudentRegistration.App.Extensions;
@model IEnumerable<StudentRegistration.Core.Entities.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Students</h2>

<input type="button" value="Create New" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Student")'" />

<table class="table">
    <tr>
        <th>S/N</th>
        <th>NRIC</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>NO. Of Subjects</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.ActionLink(item.NRIC, "Edit", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @item.Birthday.GetAge().ToString()
            </td>
            <td>
                @(item.Subjects?.ToList().Count() ?? 0)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
